@import '~react-bulma-components/src/index.sass';

html.has-navbar-fixed-top {
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(250, 250, 250);
    font-size: 14px;
    font-weight: 600;
    font-stretch: 100%;
    color: rgb(153,153,153)
}

svg {
    cursor: pointer;
}

.box {
    border-radius: 0;

    color: inherit;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    color: black;
}

h3 {
    font-size: 17px;
    font-stretch: inherit;
    font-weight: inherit;
}

svg {
    color: black;
}

.tabs ul {
    flex-direction: column;
    border: none;
}

.tabs li {
    width: 100%;
    color: black;
}

.tabs li.is-active {
    border-left: solid #262626 2px;
    background-color: white;
}

.tabs li.is-active a {
    color: #262626;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.tabs li.is-active a:hover {
    background-color: white;
    border: none;
}

.tabs a {
    border-bottom: none;
    border-left: #262626 0px;
    padding: 15px 30px 15px 30px;
    color: inherit;
    font-weight: 400;
}

.tabs a:hover {
    border-bottom: none;
    border-left: 2px solid #dbdbdb;
    background-color: #fafafa;
}

#fileInput {
    display: none;
}

.file-input-label {
    cursor: pointer;
    color:#3897f0;
}

.image img.avatar {
    height: inherit;
    width: inherit;
    border: solid 1px
}

.notification {
    position: fixed;
    bottom: -100px;
    left: 0;
    right: 0;
    transition: 0.5s;
}

.notification.show {
    bottom: 0;
    transition: 0.5s;
}

.clickable-post {
    position: relative;
}

.blind {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: white;

    &-open {
        display: flex;
    }

    &-close {
        display: none
    }
}

.modal-content {
    width: 80%;
    max-width: 815px;
    max-height: 600px;
}

.hero {
    height: 490px; //TODO: be careful about this value
    justify-content: flex-start;
}

.hero-head {
    border-bottom:  1px solid #efefef;
    height: 15%;
}

.hero-body {
    border-bottom:  1px solid #efefef;
    flex-grow: 1;
    overflow: auto;
    min-height: 0;
    height: 65%;
}

.hero-foot {
    border-bottom:  1px solid #efefef;
    height: 20%;
}